* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#draggable,
#draggable2,
#draggable3,
#draggable4,
#draggable5,
#draggable6,
#draggable7,
#draggable8,
#draggable9,
#draggable10,
#draggable11,
#draggable12,
#draggable13,
#draggable13,
#draggable14,
#draggable15,
#draggable16,
#draggable17,
#draggable18,
#draggable19,
#draggable20,
#draggable21,
#draggable22,
#draggable23,
#draggable24,
#draggable25,
#draggable26,
#draggable27,
#draggable28,
#draggable29,
#draggable30,
#draggable31,
#draggable32,
#draggable33,
#draggable34,
#draggable35,
#draggable36,
#draggable37,
#draggable38,
#draggable39,
#draggable40,
#draggable41,
#draggable42,
#draggable43,
#draggable44,
#draggable45,
#draggable46,
#draggable47,
#draggable48,
#draggable49,
#draggable50,
#draggable51,
#draggable52,
#draggable53,
#draggable54,
#draggable55,
#draggable56,
#draggable57,
#draggable58,
#draggable59,
#draggable60,
#draggable61,
#draggable62,
#draggable63,
#draggable64,
#draggable65,
#draggable66,
#draggable67,
#draggable68,
#draggable69,
#draggable70,
#draggable71,
#draggable72,
#draggable73,
#draggable74,
#draggable75,
#draggable76,
#draggable77,
#draggable78,
#draggable79,
#draggable80,
#draggable81,
#draggable82,
#draggable83,
#draggable84,
#draggable85,
#draggable86,
#draggable87,
#draggable88,
#draggable89,
#draggable90,
#draggable91,
#draggable92,
#draggable93,
#draggable94,
#draggable95,
#draggable96,
#draggable97,
#draggable98,
#draggable99,
#draggable100,
#draggable101,
#draggable102,
#draggable103,
#draggable104,
#draggable105,
#draggable106,
#draggable107,
#draggable108,
#draggable109,
#draggable110,
#draggable111,
#draggable112,
#draggable113,
#draggable114,
#draggable115,
#draggable116,
#draggable117,
#draggable118 {
    width: 3rem;
    height: 3rem;
    background: rgba(30, 255, 0, 0.3);
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: inset black 1px;
}

.table {
    width: 96vw;
    height: 70vh;
    margin: 0 2rem 0;
    background-image: url("../img/tabela-branco.jpg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}

.elementos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    margin-top: 1rem;
    align-items: center;
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    cursor: pointer;
    border-radius: 23px;
    background: #a8a8a8;
    box-shadow: 35px 35px 70px #a5a5a5,
        -35px -35px 70px #bebebe;
}


/** TABLE**/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    flex-direction: column;
    position: fixed;
    top: 0;
}

.areatabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65.3%;
    height: auto;
    border: solid 1px red;
    gap: 1px;
}

.l1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.l2,
.l3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.linha2,
.linha3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.linha2-2,
.linha3-2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.l4,
.l5,
.l6,
.l7 {
    display: flex;
    flex-direction: row;
}

.l8 {
    margin-top: 2rem;
}

.l8,
.l9 {
    display: flex;
    flex-direction: row;
}

.quadrado {
    width: 3.5rem;
    height: 3.5rem;
    border: solid 1px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-elements {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    gap: 2px;
    margin: 1rem;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid 1px red;
    width: 2.8rem;
    height: 2.8rem;
    z-index: 999;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.title {
    position: fixed;
    top: 2rem;
    left: 52%;
    z-index: 999;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    color: rgb(0, 136, 255);
}


footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
}

.copy {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #000000;
}

.not{
    display: none;
}


@media (max-width: 1599px) {
    .not{
        display: block;
        width: 100%;
        height: 100%;
        z-index: 9999;
        position: fixed;
        top: 0;
        background-color: #000000;
        overflow: hidden;
    } 
    .notM{
        position: fixed;
        top: 40%;
        left: 10%;
        color: #ffffff;
        text-align: center;
        width: 80%;
        height: auto;
    }
}